<body >



<div id="contact">
  <app-nav></app-nav>

      <div class="row" id="back-card1">
        <div class="col" >
          <h1>Let's chat.</h1>
          <h2>Tell me about your</h2>
          <h3>project.</h3>
          <p>Let's create something together.</p>
               <div class="card">
               <div class="d-flex flex-row">
                   <div>
                      <button class="env"><i class="bi bi-envelope"></i></button>
                   </div>
               <div class="mar"><strong> Mail me at </strong> <br>
                 <a class="blue">aymanmounir1999@gmail.com</a>
               </div>


          </div>



        </div>




        </div>








        <div class="col" id="back-card2">
          <div class="card" id="card2" >
            <form (ngSubmit)="onSubmit()" #myForm="ngForm">
              <h1 class="hcard2">Send me a message 🚀</h1>

              <div class="form-group">

                <input type="text" class="form-control" id="fullname" placeholder="Full name*"
                       required minlength = '6' maxlength="15"  required [(ngModel)]="fullname" name="fullname">
              </div>

              <div class="form-group">

                <input type="email"  class="form-control" id="email"  placeholder="Email Adress*"
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"[(ngModel)]="email" name="email">
              </div>

              <div class="form-group">

                <input type="text"  class="form-control" id="subject"  placeholder="Subject*"
                       required minlength = '6' maxlength="15" [(ngModel)] = "subject" name="subject">
              </div>

              <div class="form-group">
                <label for="message"> <strong>Tell us more about your project* </strong></label>
                <input type="text"  class="form-control" id="message"  placeholder="this field is optional*"
                       minlength = '2' maxlength="10"
                       [(ngModel)] = "message" name="message">
              </div>

              <button   id="send" [disabled]="!myForm.form.valid">SEND MESSAGE</button>

            </form>

          </div>

        </div>
</div>
</div>
</body>


















