

<body>





<div id="about" >

  <app-nav></app-nav>


  <div class="container">
    <div class="row">
  <div class="card mb-2" >
    <div class="row g-0">
      <div class="col-md-3" >
        <img src="assets/about.jpg" class="img-fluid rounded-start" alt="About">
      </div>
      <div class="col-md-9 ">
        <div class="card-body">
          <h5 class="card-title">HELLO IT'S AIMAN</h5>
          <p class="card-text">
            Hi There ! I'm <strong>Aiman Mounir Idrissi.</strong> A <strong> Full Stack Web Developer</strong> having specialization in <strong> back end & front end development.</strong> I have Backend Skills in Laravel, WordPress, PHP, Python.I also have Frontend Skills in Javascript,NodeJS,Angular,Web Components,CSS,BOOTSTRAP.
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>
</div>

</body>
