<body>

<div  id="projects" >
  <app-nav></app-nav>


<div class="row">
    <div class="card">
      <h3 class="title">ANGULAR</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <img class="card-img-top" src="assets/angular.jpeg" alt="Angular">
      </div>
    </div>

    <div class="card">
      <h3 class="title">PHP</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <img class="card-img-top" src="assets/php.png" alt="Php">
      </div>
    </div>
    <div class="card">
      <h3 class="title">PYTHON</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <img class="card-img-top" src="assets/python.jpeg" alt="Python">
      </div>
    </div>
  <div class="card">
    <h3 class="title">JAVASCRIPT</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <img class="card-img-top" src="assets/javascript.jpeg" alt="Javascript">

    </div>
  </div>
  <div class="card">
    <h3 class="title">HTML/CSS</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <img class="card-img-top" src="assets/html-css.jpeg" alt="Javascript">

    </div>
  </div>

  <div class="card">
    <h3 class="title">BOOTSTRAP</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <img class="card-img-top" src="assets/bootstrap.jpeg" alt="Javascript">

    </div>
  </div>
  </div>

</div>



</body>
