
.navbar-nav{
  margin-left: auto;



}
button{
  margin-left: auto;
  font-size: x-large;
  background-color: #26495c !important;
  border-color: #26495c!important;
}
a{
  font-size: x-large;
}

.nav-link{
  margin-left: 1em;
}


.navbar-nav > li > a:hover{
  color: #26495c!important;
}



