
.navbar-nav{
  margin-left: auto;



}
button{
  margin-left: auto;
  font-size: x-large;
}
a{
  font-size: x-large;
}

.nav-link{
  margin-left: 1em;
}


.navbar-nav > li > a:hover{
  color: white;
}



