html
{
  display:block ;

}

body{
  background-image: url("src/assets/back.jpg");
}


#firstpage

{


}


.h3 {
  margin-top: 15%;
  font-size: 2vw;
  margin-left: 10%;
  color:black;
}

 .h4 {
  color: white;
  font-size: 4vw;
  margin-left: 10%;
 }

 .h5 {
  font-size: 4vw;
   color: white;
  margin-left: 10%;


}

 button {
  margin-left: 10.3%;
  font-size: 1.7vw;
   border-radius: 0.5vw;







}


.grey {
  color: grey;
  margin-left: 1%;
  font-size: 1.9vw;

}



#about{


margin-top: 10%;


}





a{
  font-size:20px;
  margin-left: 10%;
  font-style: italic;
  margin-top: 5%;
}
.card-header{
  background-color: white;
  margin-left: 10%;
  margin-top: 15%;
  width: 80%;
  height:30%;
  box-shadow: 5px 5px 20px;
  border-radius:10px;


}
.card-title{
  margin-top:2%;
  margin-left: 2%;
}


.card-text{
  margin-top: 5%;
  font-size: 1.1vw;
  margin-left: 2%;
}

.cards {
  display: grid;
  margin-left: 20%;
  margin-top: 5%;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;

}

.card {

  box-shadow: 5px 5px 20px;
  border-radius:10px;
  display: grid;
  grid-template-rows: max-content 50% 0.5fr;
  width: 85%;
  height: 100%;
}

.card img {
  font-size: 1vw;
  width: 100%;
  height: 100%;

  border-radius:10px;

}
.desc{
  margin-top: 5%;
  margin-left:1%;
}

.img-fluid{

  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 20px;
  border-radius:10px;


}
#p2{
  margin-top: 5%;
}

#projects{
  margin-top: 10%;


}

#contact{
  margin-top: 10%;
  margin-bottom: 15%;



}
#footer{

}
.copyright{
  margin-left: 45%;
  color: black;
  display:inline-block;
  font-size: 1.5vw;

}

.card-footer{
  box-shadow: 5px 5px 20px;
  border-radius:7px;
  margin-top: 5%;

  width: 70%;
  font-size:2vw ;






}


h1{
  font-size:3vw ;
  margin-left:3% ;
  color:black;
}

#Global
{
  width:100%;


}
#gauche
{
  margin-left: 15%;
  margin-top:5% ;
  float:left;

}
#droite
{
  margin-top:5% ;
 margin-left:45%;



}


.form-control{
  width: 90%;
  margin-top: 5%;
  margin-left: 3%;
}

#btnform{
  margin-top:4% ;
  margin-left: 3%;
  margin-bottom: 2%;
  font-size: 1vw;
  border-radius: 0.5vw;
}
.ch2{
  margin-top: 30%;
  font-size: 2.5vw;
  color:black;
}
.ch3{
  color:black;
  font-size:1.5vw ;
}
.ch4{
  color:black;
  font-size:1.5vw ;
}
.premier{
color:green;
  font-size: 1vw;

}

input
{
  font-size: 1vw;
}




img{
  width: 20%;
  height:20%
}

