
<body id="firstpage">
<app-nav></app-nav>


<div class="container" >



  <div class="row">
    <div class="col">

      <h1>Hello..</h1>
      <h2>I'm a Full Stack</h2>
      <h3>Web Developer.</h3>
    </div>

  </div>



  <div class=" p-4">


    <div class="col">
      <button  (click)="contact()" > SEND ME A MESSAGE
        <i class="bi bi-envelope m-3"></i></button>


      <a href="https://www.facebook.com/mounir189" target="_blank" class="grey"><i class="bi bi-facebook"> </i></a>
      <a href="https://www.linkedin.com/in/aimanmounir" target="_blank" class="grey"><i class="bi bi-linkedin"></i></a>
      <a href="#" class="grey"><i class="bi bi-instagram"></i></a>

    </div>



  </div>







</div>












</body>





